*
    font-family: "Museo Sans"

.container
    max-width: 950px
    margin: 0 auto

.promo
    min-height: 650px
    background: url("../img/main.jpg") center center/cover no-repeat
    padding: 20px 0 90px 0
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        &_official
            text-align: center
            color: #ffffff
            font-size: 12px
            font-weight: 500
            line-height: 24px
            span
                font-size: 18px
                text-transform: uppercase
                font-weight: 700
        &_number
            a
                color: #ffffff
                font-size: 18px
                font-weight: 700
                text-decoration: none
        &_btn
            color: #ffffff
            text-transform: uppercase
            font-size: 12px
            font-weight: 500
            width: 160px
            height: 35px
            padding: 10px 20px 10px 20px
            border-radius: 10px
            background-color: #c70101
            outline: none
            margin-top: 8px
            cursor: pointer
    &__consultation
        margin-top: 90px
        display: flex
        flex-direction: column
        align-items: flex-end
        &_title
            color: #ffffff
            text-transform: uppercase
            text-align: end
            h1
                font-size: 42px
                font-weight: 700
            h2
                font-size: 24px
                font-weight: 500
                margin-top: -15px
        &_items
            display: flex
            justify-content: flex-end
            align-items: baseline
            text-align: center
            margin-top: 67px
        &_item
            width: 125px
            margin-right: 70px
            color: #ffffff
            &:last-child
                margin-right: 0
        &_text
            margin-top: 20px
        &_btn
            margin-top: 67px
            button
                width: 350px
                height: 60px
                padding: 20px 45px
                border-radius: 10px
                background-color: #c70101
                outline: none
                color: #ffffff
                text-transform: uppercase
                cursor: pointer
        &_link
            color: #ffffff
            margin-top: 18px
            & a
                color: #ffffff
                text-decoration: underline
                text-transform: uppercase

.advantages
    min-height: 470px
    &__title
        margin-top: 70px
        text-align: center
        font-size: 30px
        font-weight: 700
    &__items
        display: flex
        justify-content: space-between
        align-items: flex-start
        text-align: center
        margin-top: 65px
    &__item
        width: 250px
    &__text
        margin-top: 38px
        font-size: 14px
        font-weight: 500
        h3
            font-size: 18px
            font-weight: 700
        a
            color: red

.consultation
    min-height: 680px
    padding: 100px 0 92px 0
    background: url("../img/consultation.jpg") center center/cover no-repeat
    &__title
        color: #ffffff
        font-size: 36px
        font-weight: 700
    &__descr
        margin-top: 80px
        color: #ffffff
        font-size: 20px
        font-weight: 500

.feed-form
    margin-top: 36px
    display: flex
    flex-direction: column
    width: 300px
    input
        height: 50px
        border-radius: 5px
        background-color: #ffffff
        margin-bottom: 15px
        border: none
        padding: 0 20px
        color: #4b4b4b
        font-size: 14px
        font-weight: 300
        outline: none
        &:nth-child(3)
            margin-bottom: 20px
    button
        width: 100%
        height: 55px
        color: #ffffff
        font-size: 16px
        text-transform: uppercase
        border-radius: 10px
        background-color: #c70101
        outline: none
        cursor: pointer

.carousel
    padding: 81px 0
    &__inner
        width: 750px
        margin: 0 auto
