*
    font-family: "Museo Sans"

.container
    max-width: 950px
    margin: 0 auto

.promo
    height: 650px
    background: url("../img/main.jpg") center center/cover no-repeat
    padding: 20px 0 90px 0
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        &_official
            text-align: center
            color: #ffffff
            font-size: 12px
            font-weight: 500
            line-height: 24px
            span
                font-size: 18px
                text-transform: uppercase
                font-weight: 700
        &_number
            a
                color: #ffffff
                font-size: 18px
                font-weight: 700
                text-decoration: none
        &_btn
            color: #ffffff
            text-transform: uppercase
            font-size: 12px
            font-weight: 500
            width: 160px
            height: 35px
            padding: 10px 20px 10px 20px
            border-radius: 10px
            background-color: #c70101
            outline: none
            margin-top: 8px
    &__consultation
        margin-top: 90px
        display: flex
        flex-direction: column
        align-items: flex-end
        &_title
            color: #ffffff
            text-transform: uppercase
            text-align: end
            h1
                font-size: 42px
                font-weight: 700
            h2
                font-size: 24px
                font-weight: 500
                margin-top: -15px
        &_items
            display: flex
            justify-content: flex-end
            align-items: baseline
            text-align: center
            margin-top: 67px
        &_item
            width: 125px
            margin-right: 70px
            color: #ffffff
            &:last-child
                margin-right: 0
        &_text
            margin-top: 20px
        &_btn
            margin-top: 67px
            button
                width: 350px
                height: 60px
                padding: 20px 45px
                border-radius: 10px
                background-color: #c70101
                outline: none
                color: #ffffff
                text-transform: uppercase
        &_link
            color: #ffffff
            margin-top: 18px
            & a
                color: #ffffff
                text-decoration: underline
                text-transform: uppercase
